body {
  margin: 0;
  padding: 0;
}
.header  {
    font-family: 'Montserrat', sans-serif;
    background: #1F2937;
    display: flex;
    justify-content: space-between;

    
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 4px 32px;
    justify-content: center;
    align-self: center;
  }
  
  
  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
    gap: 10px;
  }
  

  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
  }
  
  a {
    font-size: 15px;
    color: #F9FAF8;
    padding: 15px;
    /* this removes the line under the links */
    text-decoration: none;
  }

  .body1 {
    font-family: 'Montserrat', sans-serif;
    background: #1F2937; 
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .HeroBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px
  }
  
  .HeroTitle {
    font-size: 30px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 15px 32px;
  }

  .HeroText {
    font-size: 15px;
    font-weight: 400;
    color: #F9FAF8;
    padding: 15px 32px;
  }

  .HeroButton {
    padding: 15px 32px;
  }

  button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #3882F6;
    border-radius: 8px;
  }


  .logoimg {
    display: flex;
    width: 400px;
    height: 100%;
    flex: 0 1 auto;
    padding: 15px 32px;
    margin: 25px;
  }
/*
  .HeroImage {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    height: auto;
    padding: 20px;
  }
*/
  .body2 {
    font-family: 'Montserrat', sans-serif;
    color: #1F2937;
    background-color: #F9FAF8; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  .BodyTitle {
    font-weight: 700;
    margin: 20px;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .group1,
  .group2 {
    display: flex;
    flex-direction: row;
  }

  .image,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 200px;
    padding: 5px;
    margin-bottom: 20px;
    flex: 1 1 auto;
  }

  .image {
    border: 2px solid #1F2937;
    border-radius: 6px;
    margin: 10px;
  }

 