body {
  margin: 0;
  padding: 0;
}
.header  {
    font-family: 'Montserrat', sans-serif;
    background: #1F2937;
    display: flex;
    justify-content: space-between;

    
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 4px 32px;
    justify-content: center;
    align-self: center;
  }
  
  
  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
    gap: 10px;
  }
  

  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
  }
  
  a {
    font-size: 15px;
    color: #F9FAF8;
    padding: 15px;
    /* this removes the line under the links */
    text-decoration: none;
  }

  .body1 {
    font-family: 'Montserrat', sans-serif;
    background: #1F2937; 
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .HeroBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px
  }
  
  .HeroTitle {
    font-size: 38px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 15px 32px;
  }

  .HeroText {
    font-size: 25px;
    font-weight: 400;
    color: #F9FAF8;
    padding: 15px 32px;
  }

  .HeroButton {
    padding: 15px 32px;
  }

  .HeroApply {
    font-size: 20px;
    color: #F9FAF8;
    background-color: #2b5fb3;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #2b5fb3;
    border-radius: 8px;
  }


  .logoimg {
    display: flex;
    width: 400px;
    height: 100%;
    flex: 0 1 auto;
    padding: 15px 32px;
    margin: 25px;
  }
/*
  .HeroImage {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    height: auto;
    padding: 20px;
  }
*/
  .body2 {
    font-family: 'Montserrat', sans-serif;
    color: #1F2937;
    background-color: #FDFEFD; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0;
  }

  .BodyTitle {
    font-size: 36px;
    font-weight: 700;
    margin: 20px;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .group1,
  .group2 {
    display: flex;
    flex-direction: row;
  }

  .image,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 200px;
    padding: 5px;
    margin-bottom: 20px;
    flex: 1 1 auto;
  }

  .image {
    border: 4px solid #2b5fb3;
    border-radius: 6px;
    margin: 10px;
  }

  .body3 {
    display: flex;
    flex-direction: column;
    background-color: #ECF0F9;
    padding: 25px;
    padding-bottom: 75px;
  }

  .quote {
    font-family: 'Montserrat', sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
    margin: 50px;
    margin-bottom: 10px;
  }

  .source {
    font-family: 'Montserrat', sans-serif;
    color: #1F2937;
    font-size: 26px;
    font-style: italic;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;;
  }

  .body4 {
    font-family: 'Montserrat', sans-serif;
    color: #F9FAF8;
    background-color: #2b5fb3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 75px;
    margin: 125px;
    border-radius: 8px;
    flex-wrap: wrap;
  }

  .action {
    display: flex;
    flex-direction: column;
    max-width: 750px
  }

  .bold-call {
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
  }

  .lite-call {
    font-size: 20px;
    font-weight: 200;
    padding: 20px;
    padding-top: 5px;
  }
  .bottom-button {
    display: flex;
    flex-shrink: 0;
    padding: 20px;
  }

  .bottom-apply {
    font-size: 20px;
    color: #F9FAF8;
    background-color: #2b5fb3;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #F9FAF8;
    border-radius: 8px;
  }

  .footer {
    font-family: 'Montserrat', sans-serif;
    background: #1F2937;
    font-size: 15px;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .site,
  .credit {
    padding: 25px;
  }

  .site {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .credit {
    font-size: 10px;
    padding-top: 5px;
  }
 